mixin input(name, attr, type, value)
  - type = type || 'text'
  fieldset.form-group
    label.capitalize(for='#{name}') #{name}
    input.form-control(
      type='#{type}', 
      name="#{name}", 
      value=(value ? value : '')
      required=(attr.required ? "required" : undefined), 
      
      step=(attr.type === 'float'? "any" : undefined)
    )
      
mixin select(name, attr, options, value)
  fieldset.form-group
    label.capitalize(for='#{name}') #{name}
    select.form-control(name="#{name}")
      option(value="") Select one
      each item, index in options
        option(value="#{item.value}", selected=(item.value === value) ? "selected" : undefined) #{item.name}

mixin checkbox(name, attr, value)
  .checkbox
    label
      input(type='checkbox', name="#{name}", checked=(value)? "checked" : undefined, value="true")
      |  #{name}
      
mixin datetime(name, attr, value)
  .form-group
    label #{name}
    .input-group.date()
      input.form-control(type='text', date-time-picker="", name="#{name}")
      span.input-group-addon
        span.glyphicon.glyphicon-calendar
          
mixin date(name, attr, value)
  .form-group
    label #{name}
    .input-group.date()
      input.form-control(type='text', date-time="", name="#{name}")
      span.input-group-addon
        span.glyphicon.glyphicon-calendar
    
case element
  when 'input'
    +input(name, attr, type, value)
  when 'datetime'
    +datetime(name, attr, value)
  when 'date'
    +date(name, attr, value)
  when 'select'
    +select(name, attr, options, value)
  when 'checkbox'
    +checkbox(name, attr, value)
