extends ./layout.jade

block content
  .row
    .col-md-6
      h2.capitalize #{modelName} 
        small #{models.length}
    .col-md-6
      a.btn.btn-primary.pull-right.capitalize(href="/admin/#{modelName}/create") Add #{modelName}
  hr
  .row
    .col-md-12
      table.table.table-striped.table-hover
        thead.thead-default
          tr
            each attrs, attrName in modelSchema
              th.capitalize #{attrName}
            th Actions
        tbody
          each item, indexItem in models
            tr
              each attrs, attrName in modelSchema
                td #{helpers.list.item(item[attrName], attrName, attrs)}
              td(style="width: 145px;")   
                a.btn.btn-primary-outline.btn-sm(href="/admin/#{modelName}/edit/#{item.id}") Edit
                | &nbsp;
                a.btn.btn-danger-outline.btn-sm(href="/admin/#{modelName}/delete/#{item.id}",  onclick="return confirm('Are you sure?')") Delete
